@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  padding: 0%;
  min-width: auto;
  background-color: #171717;
}
nav {
  font-family: "anton";
  padding: 0 10px 0 10px;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 600px;
  margin-bottom: 50px;
  position: relative;
  background-color: #ccc;
  box-shadow: 0px 6px 20px rgba(94, 59, 238, 0.3);
}

nav a {
  font-family: "inter";
  margin-left: 6px;
  position: relative;
  text-decoration: none;
  color: #000000;
}

.about-me {
  position: relative;
  font-family: "Roboto Mono", monospace;
  min-width: 600px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.about {
  position: relative;
  margin-bottom: 100px;
  text-align: center;
  min-width: 60 0px;
}

.tech {
  position: relative;
  color: #fff;
  border: 2px solid white;
  margin: 100px 20px 100px 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.skill-text {
  border: 2px solid rgb(94, 59, 238);
  border-radius: 10%;
  padding: 20px;
  box-shadow: 0px 6px 20px rgba(94, 59, 238, 0.3);
}

form div {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

form div label {
  font-family: "inter";
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  width: 100%;
}

form div input,
form div textarea {
  margin-top: 5px;
  padding: 8px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  resize: vertical;
}

input,
textarea:focus {
  border-color: #5e3bee;
  outline: none;
}

form div button {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form div button:hover {
  background-color: #0056b3;
}

button {
  text-decoration: none;
}

footer {
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #ccc;
}
footer img {
  width: 30px;
  height: auto;
}
